.App {
  text-align: center;
}

#crousel-div{
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}


@media (max-width: 1000px) {
  #crousel-div{
    grid-template-columns: repeat(2,1fr);
  }
}



@media (max-width: 600px) {
  #crousel-div{
    grid-template-columns: repeat(1,1fr);
  }
}
